
<header class="home header" id="banner">
  <div class="container">
    <h1>Pizzas App</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">
        <li ng-repeat="pizza in pizzas" ng-if="pizza.name">
          <a ui-sref="detail({pizzaId: '{{pizza._id}}'})">{{pizza.name}}</a>
          <i class="pull-right fa fa-trash" ng-click="removePizza(pizza._id)"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button type="button" class="hidden-xs btn btn-primary btn-lg" ng-click="newPizza()">New Pizza</button>
      <button type="button" class="visible-xs btn btn-primary btn-lg btn-block" ng-click="newPizza()">New Pizza</button>
    </div>
  </div>
</div>

