<header class="header detail">
  <div class="container">
    <a ui-sref="main" class="home-link pull-left">< Home</a>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-12"></div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <form name="pizzaForm">
        <div class="form-group">
          <label>Pizza Name</label>
          <input type="text" class="form-control" placeholder="" name="name" ng-model="pizza.name" required ng-required="true">
          <p ng-show="pizzaForm.name.$invalid && !pizzaForm.name.$pristine" class="help-block">Name is required.</p>
        </div>
        <div class="form-group">
          <div class="radio" ng-repeat="item in (ingredients | orderBy : 'name')">
            <label>
              <input type="radio" name="ingredient" ng-value="item._id" value="{{item._id}}" ng-model="$parent.selected"> {{item.name}}
            </label>
          </div>
        </div>
        <button type="button" class="btn btn-default btn-lg hidden-xs" ng-click="addIngredient(selected)" ng-disabled="!selected">Add Ingredient</button>
        <button type="button" class="btn btn-default btn-lg btn-block visible-xs" ng-click="addIngredient(selected)" ng-disabled="!selected">Add Ingredient</button>
      </form>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-12"></div>
  </div>
</div>

<pizza-ingredients></pizza-ingredients>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-12"></div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <button type="button" class="hidden-xs btn btn-primary btn-lg" ng-click="save(pizza)" ng-disabled="pizzaForm.$invalid">Save</button>
      <button type="button" class="visible-xs btn btn-primary btn-lg btn-block" ng-click="save(pizza)" ng-disabled="pizzaForm.$invalid">Save</button>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-12"></div>
  </div>
</div>
